# Variables d'environnement
.env
.env.local
.env.production

# Dépendances
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# Fichiers temporaires
*.tmp
*.temp

# Fichiers CSV générés
*.csv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
